<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Dashboard v2</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Legendary</a></li>
                <li class="breadcrumb-item active">Dashboard v2</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="legendary-container">
        <div class="row">
            <div class="col-md-12" style="background-color: #343a40;">
                <h1>This is legendary page</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate beatae error</p>
              </div>

              <div class="container-fluid d-flex flex-wrap" style="background-color: #343a40;">
                    <div class="col-md-5 m-2 p-2" style="background-color: #454d55;">
                    <h1>Damn</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut rem assumenda deleniti nisi voluptas quaerat, dignissimos optio dolore, unde, iusto asperiores omnis. Doloremque veritatis ipsa possimus laboriosam laudantium molestias pariatur.</p>
                  </div>
                  <div class="col-md-6 m-2 p-2" style="background-color: #454d55">
                    <h1>Damn</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam excepturi ipsam facilis odio amet, consequatur aut inventore rem, architecto dignissimos corporis incidunt. Quisquam fugiat, iusto rerum magnam fuga praesentium facere.</p>
                  </div>
              </div>
        </div>

        <div class="card card-primary">
          <div class="card-header">
          <h3 class="card-title">Area Chart</h3>
          <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
          <i class="fas fa-times"></i>
          </button>
          </div>
          </div>
          <div class="card-body">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum iste enim repellendus dolor iusto optio aperiam? Earum, modi id expedita dolore tempore, at quis itaque ab enim, vel quas nihil!</p>
          </div>
          
          </div>
          
      </div>
   

    
</div>
